@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-size: 16px;
    text-align: center;
}

main {
    margin: 50px;
    background-color: rgba(0, 0, 0, 0.205);
}

nav {
    background-color: black;
    padding: 10px;
}
nav a {
    display: inline;
    text-align: center;
}
nav a:hover, section a:hover {
	text-decoration:underline;
    color: #aef4ff;
}

section a, nav a {
    color: rgb(255, 255, 255);
    padding: 5px;
}

a:visited {
    text-decoration: none;
    color: rgb(251, 255, 0);
}

main p, main a {
    font-family:"roboto";
}

header,
footer {
    font-family: "roboto";
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #d8d3e1;
}