/* Larger Views ******************************/
@media screen and (min-width: 640px) {
    header, footer {
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .herolabel {
        position: absolute;
        top: 30px;
        left: 30px;
        border: 1px solid rgba(255, 255, 255, 0.75);
        padding: 1.5rem;
        box-shadow: 0 0 3rem #fff;
        opacity: 0.75;
    }

    .herolabel span {
        margin: 0;
        padding: .25rem;
        font-weight: 700;
        font-size: 1.5rem;
    }
    
    h1 {
        font-size: 40px;
    }
    
    img {
        height: 200px;
        width: 250px;
    }

    #menu {
		display: none; /* hide hamburger button */
	}

    .navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}
	
	.stuff {
		margin: 1rem auto;
	}
    
	nav ul li {
		flex: 1 1 100%;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
	}
    nav a {
        text-align: center;
        padding: .5rem;
        text-decoration: none;
    }
    
    nav ul {
        list-style-type: none;
    }
    /**/
    nav {
        margin: 0 auto;
        padding: 15px;
        max-width: 1225px;
    }
    #mode {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 3rem;
        cursor: pointer;
        font-size: 2rem;
    }
    /*Spotlight 3*/
    section div.ad-banner img {
        width: inherit;
        height: inherit;
    }
}