@media screen and (max-width: 740px) {
  h1 {
    font-size: 30px;
  }
  img {
    height: 150px;
    width: 180px;
  }
  #mode {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 3rem;
    cursor: pointer;
    font-size: 2rem;
}
}