/*----------- FORM --------------*/
:root {
    background: rgb(244, 255, 255);
}
header, footer {
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
header {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 20px;
	border: 1px solid rgba(0, 0, 0, 0.1);
}

footer p {
    margin: 0;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}

form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .8rem;
}

form label.top input, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0,0,0,0.1);
}

form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form input.submitBtn:hover {
    background-color: #ff2f00;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: rgb(0, 217, 0) solid 6px;
}

/* small view navigation */
#menu {
	font-size: 1.5rem;
	border: 1px solid rgba(0,0,0,.3);
	padding: 3px 7px 6px;
    margin: 10px;
    margin-left: 15px;
	background-color: #dfdfdf;
	color: #000;
 	position: absolute;
	top: .50em;
	right: .50em;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "X";
    font-family: "roboto";
}

.navigation {
	display: flex;
	flex-direction: column;
	list-style: none;
	background-color: #000000;
	color: #fff;
}

.navigation a {
	display: none;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #fff;
}
.navigation a:hover, section a:hover {
	font-weight: 700;
    font-size: larger;
    
    color: #aef4ff;
}

/* when the button is clicked - the open class is toggled (added/removed) */
.open a {
	display: block;
}

.active::before {
	content: "📍";  /* just a wayfinding symbol for the user */
}

.stuff {
	margin: .5em;
	border: 1px solid rgba(0,0,0,.1);
	background-color: #bed;
	max-width: 580px;
	height: 100vh;
	
}

nav {
    display: block;
    color: white;
    background-color: #000;
    padding: 5px;
}
h2, h3 {
    margin: 0;
}

nav a {
    display: block;
    text-align: center;
}