.hero {
    margin: 10px auto;
    position: relative;
    border: 1px solid rgba(0,0,0,.1);
}
  
.hero img {
    width: 98%;
    height: auto;
    object-fit: cover;
}
  
.herolabel {
    position: absolute;
    color: #ffffff;
    background-color: #00000034;
    top: 30px;
    left: 30px;
    border: 1px solid rgba(255, 0, 0, 0.372);
    padding: 1.5rem;
    box-shadow: 0 0 3rem #fff;
}
  
.herolabel span {
    margin: 0;
    padding: .25rem;
    font-weight: 700;
    font-size: 1rem;
}

/*Banner*/
#banner {
    background-color: #f4f4f4;
    color: #000;
    text-align: center;
    padding: 22px;
    font-size: 18px;
    font-family: Arial, sans-serif;
    position: relative;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 10px;
    background-color: #cccccc60;
    border: none;
    color: black;
    padding: 2px 7px;
    font-size: 13px;
    cursor: pointer;
}

/*----------- FORM --------------*/
form {
	background-color: rgb(255, 255, 255);
	color: #000;
}
form a {
	background-color: #000000;
}
form h1 {
	color: #000000;
}
  
  form fieldset {
	margin: 2rem 0;
	border: 1px solid #445ba9;
	border-radius: 10px;
	padding: .5rem 2%;
}
  
  form legend {
	color: #000000;
	margin: 0 1rem;
	padding: 0 .5rem;
}
  
  form label.top, form div {
	display: block;
	padding-top: 1rem;
	color: #9c2c13;
	font-size: .8rem;
}
  
  form label.top input, form label.top select {
	-webkit-appearance: none;
	display: block;
	font-size: 1rem;
	border: solid 1px #999;
	border-radius: 4px;
	padding: .75rem;
	color: #555;
	width: 100%;
	max-width: 20rem;
	background-color: rgba(0,0,0,0.1);
}
  
  form label.sbs {
	display: block;
	padding: .75rem;
	color: #555;
}
  
  form input.submitBtn {
	border: none;
	background-color: #9c2c13;
	color: white;
	border-radius: 1rem;
	padding: .75rem 1.5rem;
	margin: 0 0 2rem 2%;
	width: 96px;
	max-width: 20rem;
}
  form input.submitBtn:hover {
    border: none;
    background-color: #e63718;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    max-width: 20rem;
}
  form input.submitBtn:active {
    border: none;
    background-color: #ff2f00;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    max-width: 20rem;
}
  
  form label.top input:required {
	border-left: red solid 6px;
}
  
  form label.top input:required:valid {
	border-left: rgb(0, 217, 0) solid 6px;
}

textarea {
  background: #0000000f;
  width: 475px;
  height: 300px;
  padding: 10px;
  margin-bottom: 10px;
  border: thin;
  font-size: 1.1rem;
}

/*---------- RENTAL -------------*/
#rentalTable {
  width: 100%;
  border-collapse: collapse;
}

#rentalTable th, #rentalTable td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}

#rentalTable th {
    background-color: #f2f2f2;
}
